<div class="modal" id="openAssignModal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Assign Driver</h5>
      </div>
      <div class="modal-body">
        <form #assignForm="ngForm">
          <div class="form-group">
            <label>Driver</label>
            <select name="driver" class="form-control" [(ngModel)]="body.driverId">
              <option value="">Select Driver</option>
              <option *ngFor="let item of driverList; let i = index" value="{{item._id}}">{{item.firstName}}
                {{item.lastName}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!assignForm.valid || flags.isAssigned"
          (click)="assignDriver()">{{flags.isAssigned?'Hold on...':'Assign To Driver'}}</button>
        <button type="button" class="btn btn-secondary" id="closeDriverAssignModal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

 <!-- Delivery Address Modal -->
<div class="modal" id="deliveryAddressModal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delivery Address</h5>
      </div>
      <div *ngIf="deliveryAddress" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <textarea type="text" class="form-control" rows="4" readonly>{{deliveryAddress.address1}}</textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Street Name*</label>
              <input type="text" class="form-control" [value]="deliveryAddress.address2" readonly>
            </div>
          </div>
         
        </div>
        
        <div class="row">
          
          <div class="col-md-6">
            <div class="form-group">
              <label>Block</label>
              <input type="text" class="form-control" [value]="deliveryAddress.block" readonly>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Area</label>
              <input type="text" class="form-control" [value]="deliveryAddress.area" readonly>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>Landmark*</label>
              <input type="text" class="form-control" [value]="deliveryAddress.landmark" readonly>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>Address Type</label>
              <input type="text" class="form-control" [value]="deliveryAddress.addressType" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Product Detail Modal-->

<div class="modal" id="productInfoModal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog product-detail" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Product Information</h5>
      </div>
      <div class="modal-body">
        <table class="table table-responsive table-striped">
          <thead>
            <tr>
              <th>#</th>
              <!-- <th>Image</th> -->
              <th>Name</th>
              <th>Price</th>
              <th>Discount</th>
              <!-- <th>Product Quantity</th> -->
              <th>Pack Quantity</th>
              <th>Category</th>
              <th>Sub Category</th>
              <!-- <th>Brand</th> -->
              <th>Description</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let item of productList; let i = index">
              <td>{{i + 1}}</td>
              <!-- <td>
                <figure>
                  <a href="{{imageUrl}}/{{item.product.images[0]}}" target="_blank"><img
                      src="{{imageUrl}}/{{item.product.images[0]}}" width="70px" height="70px"></a>
                </figure>
              </td> -->
              <td>{{item.product.productId.name}}</td>
              <td>{{item.product.pack.price}}</td>
              <td>{{item.product.productId.discount}}</td>
              <td>{{item.pack.quantity}}</td>
              <td>{{item.product.category.name}}</td>
              <td>{{item.product.subCategory.name}}</td>
              <!-- <td>{{item.product.brand?item.productId.brand.name:'N/A'}}</td> -->
              <td>{{item.product.productId.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--Driver Information-->


<!-- <div class="modal" id="driverDetailsModal" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Driver Details</h5>
            </div>
            <div *ngIf="driverDetail" class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" [value]="driverDetail.firstName" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" [value]="driverDetail.lastName" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" [value]="driverDetail.email" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" [value]="driverDetail.phone" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" [value]="driverDetail.address" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" [value]="driverDetail.city" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Bio</label>
                    <textarea class="form-control" [value]="driverDetail.bio" readonly></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
       -->