@media (min-width: 576px){
.modal-dialog {
    max-width: 1030px !important;
    margin: 1.75rem auto;
}
}

@media (min-width: 576px){
    .modal-dialog1 {
    max-width: 569px !important;
    margin: 0.75rem auto;
}
}