.border-left-info {
    border-left: .25rem solid #e74a3b!important;
}
.border-left-success {
    border-left: .25rem solid #46bfbd!important;
}
.border-left-success.expans {
    border-left: 0.25rem solid #4d5360 !important;
}
.border-left-primary {
    border-left: .25rem solid #949fb1!important;
}
.border-left-success.loan
{
    border-left: 0.25rem solid #fdb45c !important;
}
.border-left-success.branch
{
    border-left: 0.25rem solid #008000 !important;
}
.text-primary {
    color: #949fb1!important;
}
.text-info {
    color: #e74a3b!important;
}
.text-success {
    color: #4d5360!important;
}
.text-success.loan {
    color: #fdb45c!important;
}
.text-success.profit
{
    color: #46bfbd !important;
}
.text-success.branch
{
    color:#008000 !important
}