form.user .btn-user {
    padding: .75rem 4rem !important;
    margin: auto !important;
}

.btn-block {
    width: auto !important;
}

.login-center{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -38%);
}


.super {
    margin-left: 143px;
}
