<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">SUB-CATEGORIES</h6>
                </div>
                <div class="col-md-6 text-right">
                    <button  *ngIf="(role.type=='SubAdmin'&& access.manageSubCategoryWrite==true)||role.type=='Admin'" class="btn btn-primary" data-toggle="modal" data-target="#subCategoryModal"><span
                            class="fas fa-plus mr-1"></span> Add</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Sub-Category Id</th>
                            <th>
                                <div class="product_action">
                                    <div class="mt-2">Category</div>
                                    <select style="width:60% !important" name="category" [(ngModel)]="categoryId"
                                        (change)="getSubCategories()" class="form-control ml-2 mt-1">
                                        <option value="">All</option>
                                        <option *ngFor="let item of categoryList;" value="{{item._id}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </th>
                            <th>Discount</th>
                            <th>Discount Type</th>
                            <th>Is Upto</th>

                            <th>Created Date</th>
                            <!-- <th>Sub Categories</th> -->
                            <th *ngIf="(role.type=='SubAdmin' && (access.manageSubCategoryWrite==true || access.manageSubCategoryDelete==true))||role.type=='Admin'">Action</th>
                        </tr>
                    </thead>
                    <div class="progress-loader" [hidden]="!loading">
                        <mat-progress-spinner class="spinner" [color]="color" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <tbody>
                        <!-- <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="form-group">
                                    <select name="category" [(ngModel)]="categoryId" (change)="getSubCategories()"
                                        class="form-control">
                                        <option value="">All</option>
                                        <option *ngFor="let item of categoryList;" value="{{item._id}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr> -->
                        <tr *ngFor="let item of subCatList; let i = index">
                            <td>{{i + serialNumber + 1}}</td>
                            <td>
                                <img src="{{imageUrl}}/{{item.image}}" height="70px" width="70px">
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item._id}}</td>
                            <td>{{item.category?item.category.name:'N/A'}}</td>
                            <td>{{item.discount}}</td>
                            <td>{{item.type}}</td>
                            <td>
                                <ui-switch labelOn="ON" switchColor="#4e73df" id="recommend" [(ngModel)]="item.isUpto"
                                    name="isUpto" (change)="changeStatus($event,item)" labelOff="OFF"></ui-switch>
                            </td>

                            <td>{{item.createdAt | date: 'yyyy-MM-dd'}}</td>
                            <!-- <td>
                                <button class="btn btn-primary" routerLink="/dashboard/deep-sub-cat/{{item._id}}"><span class="fas fa-eye"></span></button>
                            </td> -->
                            <td  *ngIf="(role.type=='SubAdmin' && access.manageSubCategoryWrite == true)||(role.type=='SubAdmin' && access.manageSubCategoryDelete == true)||role.type=='Admin'">
                                <div class="product_action">
                                    <button  *ngIf="(role.type=='SubAdmin'&& access.manageSubCategoryWrite==true)||role.type=='Admin'" class="btn btn-primary mr-1" (click)="modal.onEditSelect(item)"><span
                                            class="fas fa-fw fa-edit"></span></button>
                                    <button *ngIf="(role.type=='SubAdmin'&& access.manageSubCategoryDelete==true)||role.type=='Admin'" class="btn btn-danger" (click)="deleteSubCat(item._id)"><span
                                            class="fas fa-fw fa-trash"></span></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 *ngIf="!subCatList?.length" class="text-center">No records found.</h4>
            </div>
            <pagination [totalItems]="totalItems" [boundaryLinks]="true" [(ngModel)]="currentPage"
                (pageChanged)="onPageChange($event)"></pagination>
        </div>
    </div>
</div>
<app-subcategorymodal (onAddEdit)="getSubCategories()" [categoryList]="categoryList">
</app-subcategorymodal>